@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sans: 'Inter', system-ui, sans-serif;
  --serif: 'Playfair Display', serif;
}

body {
  margin: 0;
  font-family: var(--sans);
}

